body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
.container {
  width: fit-content;
  padding: 30px;
  margin-top: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-image: url("../Visuals/pexels-photo-2680270.jpeg");
}

.main-box {
  display: block;
}

input {
  border-radius: 30px;
  padding: 5px;
  border: 2px solid whitesmoke;
  position: relative;
  right: -30px;
}

h1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.units {
  font-size: 16px;
}

.current-date {
  font-weight: bolder;
  font-size: 16px;
}

.city {
  font-size: 40px;
  font-weight: bold;
}

.top-temperature {
  font-size: 40px;
}

.main-icon {
  position: relative;
  left: 10px;
}

p {
  font-size: small;
  line-height: 0%;
  font-weight: lighter;
}

.day-summary {
  text-align: center;
  position: relative;
  right: 16px;
}

.wind {
  position: relative;
  right: -75px;
  font-style: italic;
}

.km-speed {
  position: relative;
  right: -78px;
  font-weight: bold;
}

.humidity {
  position: relative;
  left: -80px;
  font-weight: normal;
  font-style: italic;
}

.humidity-percentage {
  position: relative;
  left: -78px;
  font-weight: bold;
}

.cm-measure {
  font-weight: bold;
  position: relative;
  right: -2px;
}

.box p {
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
}

.box {
  /* border: 3px solid #ffffff; */
  /* border-radius: 30px;
  /* box-shadow: 5px 2px 5px 2px white; */
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  list-style: none;
  font-size: small;
  text-align: left;
}

.card-one {
  position: relative;
  right: -10px;
}

.card-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.card-details-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-temperature {
  font-weight: bold;
  font-size: 10px;
  position: relative;
}
